body {
}

header {
  text-align: center;
}
#container {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  height: 80%;
  max-height: 800px;
}

.secret td{
  border: 1px dotted black;
  text-align: center;
  width: 30%;
  padding: 2em;
}

#left_column{
  padding-right: 5%;
  margin-right: 5%;
  display: inline-block;
  float: left;
  width: 30%;
  border-right: 1px dotted black;
}

#comments_column {
  padding-right: 5%;
  border-right: 1px dotted black;
  float: left;
  width: 40%;
  height: 400px;
}

.comment {
  border: 1px dotted black;
  text-align: center;
  width: 30%;
  padding: 2em;
}
