<header>
<h1><img src="http://i.imgur.com/vHWRRvA.png" alt="d-secret"></h1>
</header>
<div class="enter">
  <form id="post_secret" action="/new" method="POST" >
    <textarea name="content" rows="4" cols="60" placeholder="Enter Your Secret Here!"></textarea>
    <button id="submit_secret" style="button" type="submit">Submit</button>
  </form>
</div>

<div class="container">
  <div class="left">
    <% @secrets.each do |secret| %>
      <% @secret = secret %>
      <%= erb :_secret %>
    <% end %>
  </div>

  <div class="right">

    <div class="righty">
    </div>
  </div>
</div>
