
<body>
<header><h1>Tell Me Your Secret</h1></header>

  <div id="container">
    <div id="left_column">
      <table class="secret">
      <% @secrets.each do |secret| %>
        <tr><td><%= secret.content %></td></tr>
      <%end%>
      </table>
    </div>

    <div id="comments_column">

    </div>
  </div>
</body>
